<div class="pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/po2.jpeg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-12">
        <h1 class="display-2 text-white">Trabalhos - Pesquisa Operacional II</h1>
        <p class="text-white mt-0 mb-5">Feito pelos alunos:
          Antônio Eugênio, Gabriel Vieira, e Lucas Vinhas
        </p>
      </div>
    </div>
  </div>
</div>
