<div class="header bg-gradient-info pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Titulo da pagina -->
      <div class="display-2 text-white title">Método da Bisseção</div>
      <!-- Componente do interpretador -->
      <app-interpretador
        [options]="{ intervalo: true, delta: false, epsilon: true }"
        (functionData)="calcularBissecao($event, end);"
        (clearData)="clear()"
      ></app-interpretador>
    </div>
  </div>
</div>

<!-- Tabela de iteracoes -->
<app-tabela-iteracoes [colunas]="colunas" [iteracoes]="iteracoes" [erros]="erro" [precisao]="precisao"></app-tabela-iteracoes>
<!-- Usado para scrollar ate o final da pagina, depois do calculo -->
<div #end></div>
