.navbar-brand-img {
    height: 30px;
}

.upside-down {
    transform: rotate(180deg);
    margin-left: -20px;
    margin-right: 20px;
}

.navbar-title {
    font-size: 15px;
    color: black;
    font-weight: 600;
    margin-left: 10px;
}

.navbar-branding {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(134, 134, 134, 0.527); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(163, 163, 163, 0.445); 
}